#waterCycleInfographic {
  --width-mobile: 375px;
  --width-desktop: 1440px;
  --light-yellow: #ff6;
  --translucent-white: rgba(225,225,225,.5);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, p {
  margin-top: 0;
  margin-bottom: .75rem;
}

button {
  cursor: pointer;

  /* Pulse effect on hover/click */
  transition: scale .2s;
  &:hover, &:focus { scale: 110%; }
  &:active { scale: 100%; }

  /* Panel closer */
  &.close {
    position: absolute;
    z-index: 9999; /* Ensure interaction possible */
    top: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    font-size: 1.5rem;
  }
}

.tabs {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: var(--width-mobile);
  padding: 0;
  margin: 0 auto;
  list-style: none;

  @media (min-width: 768px) {
    width: auto;
  }
}

.title {
  grid-area: 2 / 2;
  text-align: center;
  font-weight: bold;
  font-size: 130%;
  line-height: 1;
  color: orange;

  * {
    margin: 0;
    line-height: 1;
  }
}
.arrow-1 {
  rotate: -90deg;
}
.arrow-3 {
  grid-area: 3 / 3;
  rotate: 90deg;
}
.arrow-4 {
  rotate: 180deg;
}

/* Panel opener */
.tab {
  button {
    border: none;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    font-size: 5rem;
    line-height: 1;
    padding: 0;

    &:focus { outline: 2px solid gold; }

    @media (min-width: 768px) and (max-width: 992px) {
      width: 5rem;
      height: 5rem;
      font-size: 3.5rem;
    }
  }

  &:has(#tab_1) {
    grid-area: 1 / 2;
    button {
      background: linear-gradient(var(--light-yellow) 50%, skyblue);
      color: orange;
    }
  }

  &:has(#tab_2) {
    grid-area: 2 / 3;
    button {
      background: linear-gradient(skyblue 50%, white);
      color: white;
    }
  }

  &:has(#tab_3) {
    grid-area: 3 / 2;
    button {
      background: linear-gradient(slategray 50%, teal);
      color: darkslategray;
    }
  }

  &:has(#tab_4) {
    grid-area: 2 / 1;
    button {
      background: linear-gradient(white, teal 50%);
      color: skyblue;
    }
  }
}

.panel {
	top: 0;
	bottom: 0;
  height: 90vh;
	width: 90vw;
  max-width: var(--width-mobile);
  padding: 0;
	margin: auto;
  overflow: hidden;
  border: none;
  border-radius: 1rem;

  @media (min-width: 768px) {
    position: relative;
    max-height: var(--width-mobile);
    width: 100%;
    max-width: calc(100% - 2rem);
  }

  &[open] {
    display: flex;
    flex-direction: column;
  }

  article {
    padding: .5rem 1rem;
  }

  figure {
    padding: 0;
    margin: 0;
    flex: 1;
    overflow: hidden;
    position: relative;
    * { position: absolute; }
  }
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    align-items: flex-start;
    max-width: calc(var(--width-desktop) * .75);
    margin: 0 auto;
    .panels { flex: 1; }
  }
}
